﻿@{
ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h4>Made by lots of love</h4>
<p>made by a small group.</p>
<p>helpful to track budgets of your festival</p>
<p>Track records and details of all</p>
<p>filter by year to analyse the budget of next year</p>
<p>Store Images and get the old one without any worries</p>
<p>Get the data of particular Person, Amount , Type of Acoount</p>
<div class="watermark-footer">
    <b>Made By - Pratham Shetty</b>
</div>