﻿@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<h4>Need Help Dont Worry!!!</h4>

<br />
<br />
<br />
<h5> ✉ For Any Query Contact Mail - DubaiChaRaja25@gmail.com</H5>
<div class="watermark-footer">
    <b>Made By - Pratham Shetty</b>
</div>