﻿@{
ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Made by lots of love</h4>
<p>Dont share Your Details With any One.</p>
<p>If You Forgot Your Password Dont worry Use Mail for code</p>
<p>Your data is safe not only attckers but also we cant see them!!!</p>
<p>Enjoy the Application</p>
<p>Enjoy the festival</p>
<p><b>Made By - Pratham Shetty</b></p>
<div class="watermark-footer">
    <b>Made By - Pratham Shetty</b>
</div>